<div class="center">
  <h1><%= @user.name %></h1>
  <% if current_user == @user %>
    <form action="/tweet" method="post">
      <textarea rows="3" cols="50" style="resize: none;" maxlength="140" name="tweet[body]" placeholder="What's happening?" required></textarea><br>
      <input type="submit" value="Tweet">
    </form>
  <% end %>
  <%if @user.tweets.length == 0 %>
      Your timeline is currently empty. Follow people and topics you find interesting to see their Tweets in your timeline.
  <%else %>
  <ul id="tweet-list">
  <div class="container">
      <%@tweets.each do |tweet| %>
       <li> <a href="/users/<%= tweet.user.id %>"><%= tweet.user.name %></li></a>
        <li> <a href="/tweet/<%= tweet.id %>"><%= tweet.body %></a></li>
        <li><a href="/tweet/<%= tweet.id %>"><%= tweet.created_at.strftime("%d %b. %Y") %></a></li>
      <%end %>
    </div>
  </ul>
  <%end %>
  <a href="/users">View other profiles</a>
</div>
